html, body {
  margin: 0;
  padding: 0;
}

.header_box {
  width: 100%;
  height: 660px;
  position: relative;
  display: block;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.div_video {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.top_menu {
  padding-top: 40px;
}

.logo_img {
  display: inline-block;
}

.nav_menu {
  position: absolute;
  display: inline-block;
}

.nav_menu ul {
  list-style: none;
  padding: 0;
  padding-left: 100px;
}

.nav_menu ul .menu_open {
  padding-left: 0;
  position: absolute;
  margin-top: 5px;
  z-index: 10;
}

.nav_menu ul .menu_open .line, .nav_menu ul .menu_open .line2 {
  border-top: 3px solid #E5544D;
  display: block;
  margin-top: 5px;
  margin-left: 36px;
  width: 20px;
  transition: all 1s;
}

.nav_menu li {
  display: inline-block;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
}

.nav_menu li a {
  color: #FFF;
  text-decoration: none;
}

.nav_menu li a span {
  position: relative;
  z-index: 10;
}

.nav_menu li a span:hover {
  color: #E5544D;
  transition: 2s;
}

.nav_menu li a:hover {
  color: yellow;
  transition: 3s;
}

.menu_open_active .line {
  transform: rotate(50deg);
  border-top: 3px solid  #FFF !important;
  display: block;
  margin-top: 10px !important;
  margin-left: 36px;
  width: 20px;
}

.menu_open_active .line2 {
  border-top: 3px solid #FFF !important;
  transform: rotate(-230deg);
  display: block;
  margin-top: -3px !important;
  margin-left: 36px;
  width: 20px;
}

.right_contacts_info {
  display: inline-block;
  text-align: right;
  right: 0;
  float: right;
  color: #FFF;
}

.right_contacts_info .phones {
  margin-top: -15px;
}

.right_contacts_info .phones .number {
  color: #E5544D;
  font-size: 30px;
}

.cities {
  text-transform: uppercase;
  margin-top: 5px;
}

.cities ul {
  padding: 0;
}

.cities ul li {
  display: inline-block;
}

.cities ul li a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.cities ul li a:hover {
  color: red;
  transition: 2s;
}

.cities ul li span {
  font-size: 9px;
}

.menu_center_click {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 660px;
  background: #E5544D;
  z-index: 9;
}

.menu_center_click ul {
  padding: 0;
  margin-top: 140px;
  margin-left: -100px;
}

.menu_center_click ul li {
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.menu_center_click ul li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.menu_center_click ul li a:hover {
  color: yellow;
  transition: 2s;
}

.main_text_block {
  margin-top: 60px;
  width: 725px;
  float: left;
}

.main_text_block .main_text {
  position: relative;
}

.main_text_block .main_text .text1 {
  position: absolute;
  margin-top: -12px;
  color: pink;
  font-size: 40px;
  left: 0;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.main_text_block .main_text .text2 {
  position: absolute;
  margin-bottom: -12px;
  color: pink;
  font-size: 40px;
  right: 0;
  bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.main_text_block .main_text .logo {
  width: 37px;
  height: 69px;
  position: absolute;
  top: 0;
  right: 0;
}

.timer {
  margin-top: 60px;
  width: 100%;
  height: 210px;
  background: #F5DB24;
}

.right_form {
  margin-top: 38px;
  height: 446px;
  width: 320px;
  float: right;
  position: relative;
}

.right_form .text_top_form {
  color: pink;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.right_form .text_center_form {
  background: #F5DB24;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  padding: 5px;
  margin-top: -32px;
  margin-left: 80px;
}

.right_form .form_input {
  margin-top: 70px;
}

.right_form .form_input .name_input {
  height: 40px;
  margin-top: 20px;
  position: relative;
}

.right_form .form_input .name_input i {
  position: absolute;
  margin: 5px;
  color: #FFF;
}

.right_form .form_input .name_input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 0 35px;
  background: transparent;
  color: #FFF;
  border: none;
  border-bottom: 2px solid #FFF;
  outline: 0;
}

.right_form .form_input .name_input input::-webkit-input-placeholder {
  color: #E5544D;
}

.right_form .form_input .phone_input {
  height: 40px;
  margin-top: 20px;
  position: relative;
}

.right_form .form_input .phone_input i {
  position: absolute;
  margin: 5px;
  color: #FFF;
}

.right_form .form_input .phone_input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 0 35px;
  background: transparent;
  color: #FFF;
  border: none;
  border-bottom: 2px solid #FFF;
  outline: 0;
}

.right_form .form_input .phone_input input::-webkit-input-placeholder {
  color: #E5544D;
}

.right_form .form_input .text_input {
  height: 40px;
  margin-top: 20px;
  position: relative;
}

.right_form .form_input .text_input i {
  position: absolute;
  margin: 5px;
  color: #FFF;
}

.right_form .form_input .text_input textarea {
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 5px 40px;
  background: transparent;
  border: none;
  color: #FFF;
  outline: 0;
}

.right_form .form_input .text_input textarea::-webkit-input-placeholder {
  color: #E5544D;
}

.right_form .form_input .btn_send_form {
  height: 70px;
  width: 100%;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.main_center_block_info {
  height: 805px;
  width: 100%;
  background: #1D1D29;
}

.main_center_block_info .text_left_top {
  color: #FFF;
  font-size: 36px;
  position: absolute;
  text-transform: uppercase;
  margin-top: 46px;
  z-index: 1;
  text-align: right;
  line-height: 34px;
}

.main_center_block_info .text_left_top span {
  font-family: 'Rubik Mono One', sans-serif;
}

.main_center_block_info .header_block {
  width: 600px;
  height: 300px;
  margin-top: -32px;
  margin-left: 250px;
  border: 32px  solid #5AB276;
  transition: 2s;
}

.main_center_block_info .header_block ul {
  padding: 36px 0 0 190px;
}

.main_center_block_info .header_block ul li {
  list-style: none;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  position: relative;
  text-transform: uppercase;
}

.main_center_block_info .header_block ul li:before {
  height: 22px;
  width: 22px;
  border: 2px solid #f5db24;
  border-radius: 50%;
  position: absolute;
  content: "";
  margin: 10px 0 0 -36px;
}

.item {
  margin-top: 46px;
}

.item .icons {
  margin-left: -14px;
  margin-bottom: 12px;
}

.item .ico_1 {
  height: 30px;
  width: 30px;
  background: url(../img/sprites.png) 0 0;
}

.item .ico_2 {
  height: 30px;
  width: 44px;
  background: url(../img/sprites.png) -34px -4px;
}

.item .ico_3 {
  height: 30px;
  width: 36px;
  background: url(../img/sprites.png) -87px -4px;
}

.item .ico_4 {
  height: 30px;
  width: 32px;
  background: url(../img/sprites.png) -126px -4px;
}

.item .ico_5 {
  height: 30px;
  width: 30px;
  background: url(../img/sprites.png) -160px -4px;
}

.item .ico_6 {
  height: 30px;
  width: 32px;
  background: url(../img/sprites.png) -194px -7px;
}

.item .ico_7 {
  height: 30px;
  width: 25px;
  background: url(../img/sprites.png) -230px -4px;
}

.item .content .line {
  width: 2px;
  height: 15px;
  background: #FFF;
  margin: 10px 0;
}

.item .content span {
  margin-bottom: 25px;
  font-size: 26px;
  color: #E5544D;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.item .content .text {
  margin-top: 10px;
  font-size: 14px;
  color: #FFF;
}

.jun_mid_pro_block {
  width: 100%;
  height: 785px;
  background: #AFAFAF;
}

.jun_mid_pro_block .text_top {
  margin-top: 64px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 32px;
}

.jun_mid_pro_block .text_top span {
  font-weight: bold;
  font-family: 'Rubik Mono One', sans-serif;
}

.jun_mid_pro_block .icons_developer {
  margin-top: 66px;
}

.jun_mid_pro_block .icons_developer .space {
  margin-left: 22px;
}

.jun_mid_pro_block .icons_developer .arrow_img {
  height: 25px;
  width: 126px;
  background: url(../img/sprites.png) -2px -41px;
  position: absolute;
  top: 50%;
  right: -28px;
}

.jun_mid_pro_block .text_block .mar_left {
  margin-left: 24px;
}

.jun_mid_pro_block .text_block .up_section {
  margin-top: 40px;
  color: #5BB276;
  text-transform: uppercase;
  font-size: 26px;
}

.jun_mid_pro_block .text_block .up_section .center_block {
  color: #008AC0;
}

.jun_mid_pro_block .text_block .up_section .center_block .line {
  background: #008AC0;
}

.jun_mid_pro_block .text_block .up_section .right_block {
  color: #E5544D;
}

.jun_mid_pro_block .text_block .up_section .right_block .line {
  background: #E5544D;
}

.jun_mid_pro_block .text_block .up_section .Bold_size {
  font-family: 'Rubik Mono One', sans-serif;
}

.jun_mid_pro_block .text_block .up_section .line {
  width: 2px;
  height: 15px;
  margin: 5px 0;
  background: #5BB276;
}

.jun_mid_pro_block .text_block .down_section {
  margin-top: 15px;
  font-size: 20px;
}

.jun_mid_pro_block .text_block .down_section .price {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 26px;
}

.java_popular {
  height: 1090px;
  width: 100%;
  background: #1D1D29;
}
