html,body {
	margin: 0;
	padding: 0;
}

.header_box {	
	width: 100%; 
	height: 660px;
	position: relative;
	display: block;
	 left: 0;
    top: 0;
    box-sizing: border-box;
	
}
.div_video {	
	display: inline-block;	
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
    z-index: -1;   
}

.top_menu {
	padding-top: 40px;
}
.logo_img {
	display: inline-block;
}
.nav_menu {
	position: absolute;
	display: inline-block;
	
	ul {
		list-style: none;
		padding: 0;
		padding-left: 100px;

			.menu_open {				
				 padding-left:0;				 
				 position: absolute;
				 margin-top: 5px;
				 z-index: 10;
				 
				 
				.line,.line2 {
					border-top: 3px solid #E5544D;
					display:block;
					margin-top: 5px;
					margin-left: 36px;
					width: 20px;
					transition: all 1s;
				}
			}
	}	
 	li {
	 	display: inline-block;
		padding-left:  30px;	
		text-transform: uppercase;
		font-weight: bold;
		color: #FFF;
			a {
				color: #FFF;
				text-decoration: none;
					span{
						position: relative;
						z-index:10;
					}
					span:hover {
						color: #E5544D;
						transition: 2s;
					}
			}
			a:hover {
				color: yellow;
				transition: 3s;
			}

 	}
}

.menu_open_active .line {
  transform: rotate(50deg);
  border-top: 3px solid  #FFF !important;
  display: block;
  margin-top: 10px !important;
  margin-left: 36px;
  width: 20px;

  
 
}
.menu_open_active .line2 {  
  border-top: 3px solid #FFF !important;
  transform: rotate(-230deg);
  display: block;
  margin-top: -3px !important;
  margin-left: 36px;
  width: 20px;
  
}


.right_contacts_info {
	display: inline-block;
	text-align: right;
	right:0;	
	float:right;
	color: #FFF;

	.phones {
		margin-top: -15px;		

			.number {		
				color:#E5544D;
				font-size: 30px;
			}
		}

	
}
	.cities {
		text-transform: uppercase;
		margin-top: 5px;

			ul {
				padding: 0;

				li {
					display: inline-block;	
					a {
						color: #FFF;
						text-decoration:none;	
						font-weight: bold;
					}

					a:hover {
						color: red;	
						transition: 2s;					
					}

					span {
						font-size: 9px;
					}
				}

  			 }
}

.menu_center_click {
	display:none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 660px;
	background: #E5544D;
	z-index: 9;

	 ul {
	 	padding:0;
	 	margin-top: 140px;
	 	margin-left: -100px;
	 	

	 	li {
	 		list-style: none;
	 		text-align: center;
	 		line-height: 50px;

	 		a {
	 			color:#FFF;
	 			text-decoration: none;
	 			text-transform: uppercase;
	 			font-size: 24px;
	 			font-weight: bold;


	 		}

	 		a:hover {
	 			color: yellow;
	 			transition: 2s;

	 		}
	 	}
	 }

}

.main_text_block {	
	margin-top:60px;
	width:725px;
	float:left;

		.main_text {
			position: relative;

											
			.text1	{
				position: absolute;
				margin-top: -12px;				
				color: pink;
				font-size: 40px;
				left:0;
				top:0;
				font-weight: bold;
				text-transform: uppercase;
			}
			.text2 {
				position: absolute;
				margin-bottom: -12px;				
				color: pink;
				font-size: 40px;
				right:0;
				bottom:0;
				font-weight: bold;
				text-transform: uppercase;
			}
			
			.logo {				
				width: 37px;
				height:69px;
				position: absolute;
				top:0;
				right:0;				
			}			

		}
			
}

.timer {
	margin-top: 60px;
	width: 100%;
	height: 210px;
	background: #F5DB24;
}

.right_form {
	margin-top: 38px;
	height: 446px;
	width: 320px;
	float: right;		
	position: relative;

	.text_top_form {

		color: pink;
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;

	}

	.text_center_form {

		background: #F5DB24;

		font-size:16px;
		text-transform: uppercase;
		font-weight: bold;
		position: absolute;
		padding:5px;
		margin-top: -32px;
		margin-left: 80px;
	}

	.form_input {

		margin-top: 70px;

		.name_input {

			height: 40px;
			margin-top: 20px;
			position: relative;


			i {
				position: absolute;
				margin: 5px;
				color: #FFF;
			}
				input {

					width: 100%;
					height: 100%;
					font-size: 20px;
					padding: 0 35px;
					background: transparent;
					color: #FFF;
					border: none;
					border-bottom: 2px solid #FFF;
					outline:0;	
				}

				input::-webkit-input-placeholder { 
					color: #E5544D; 
				}

		}	

		.phone_input {

			height: 40px;
			margin-top: 20px;
			position: relative;

			i {
				position: absolute;
				margin: 5px;
				color: #FFF;
			}

			input {

					width: 100%;
					height: 100%;
					font-size: 20px;
					padding: 0 35px;
					background: transparent;
					color: #FFF;
					border: none;
					border-bottom: 2px solid #FFF;
					outline:0;	
				}
			input::-webkit-input-placeholder { 
				color: #E5544D; 
			}
		}

		.text_input {

			height: 40px;
			margin-top: 20px;
			position: relative;

			i {
				position: absolute;
				margin: 5px;
				color: #FFF;
			}
			textarea  {

				resize: none;
				width: 100%;
				height: 100%;
				font-size: 20px;
				padding: 5px 40px;
				background: transparent;
				border: none;
				color: #FFF;
				outline:0;
						

			}

			textarea::-webkit-input-placeholder {
				color: #E5544D; 
			}
			 
		}

		.btn_send_form {

			height: 70px;
			width: 100%;			
			font-size: 32px;
			text-transform: uppercase;
			font-weight: bold;
			position:absolute;
			bottom:0;
			
		}
	}
	
}

.main_center_block_info {
	
	height: 805px;
	width: 100%;
	background: #1D1D29;

	.header_block {		
		width: 600px;
		height: 300px;
		position: absolute;
		margin-top: -32px;
		margin-left: 250px;
		border: 32px  solid aqua;
		transition: 2s;

	}
}

